<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pokercc.saveappimage.database">

    <application>
        <provider
                android:name=".AppListContentProvider"
                android:authorities="com.pokercc.saveappimage.applist"
                android:enabled="true"
                android:exported="true">
        </provider>
    </application>

</manifest>